@import url('https://fonts.googleapis.com/css2?family=Baloo+Tamma+2&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#first{
    width: 100%;
    background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
    background-size: 400% 400%;
    position: relative;
    animation: change 10s ease-in-out infinite;
    padding-bottom: 80px;

}

#nav{
    list-style: none;
    font-family: 'Baloo Tamma 2', cursive;
}

#nav ul{
    float: right;
    margin-right: 114px;
    margin-top: -8px;

}

#nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

#nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 19px;
    padding-left: 22px;
}

#nav ul li a:hover{
    color: #fb2056;
}

#texty{
    color: white;
    font-family: 'Baloo Tamma 2', cursive;
    text-align: center;
    font-size: 73px;
    line-height: 73px;
    padding-top: 109px;

}

@keyframes change{
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }
}

#second h1{
    font-family: 'Baloo Tamma 2', cursive;
    font-size: 27px;
    padding: 79px;
}

#last{
    background-color: #191919;
}

#last p{
    color: white;
    font-family: 'Baloo Tamma 2', cursive;
    text-align: center;
    padding-top: 35px;
    padding-bottom: 35px;
    font-size: 18px;
    line-height: 46px;

}

::selection {
    color: white;
    background: #fb2056;
}